# Node modules (dependencias de Node.js)
node_modules/

# Archivos de compilación de Tailwind (si estás usando purgar o un archivo de salida)
/build/

# Archivos de configuración de editor (si no los quieres compartir)
.vscode/
.idea/
*.log

# Archivos temporales de sistema operativo
.DS_Store
Thumbs.db
